body {
  border: 0px;
  box-sizing: border-box;
  font-family: Open Sans;
  margin: 0px;
  padding: 0px;
  position: relative;
  text-align: center;
  vertical-align: top;
}

header {
  background-color: #404041;
  display: block;
  height: 100px;
  margin-bottom: 2%;
  margin-top: -2%;
  width: 100%;  
}

h1 {
  color: #E6E7E8;
  font-weight: 300;
  font-size: 250%;
  margin: 0px;
  padding: 3%;
}

strong {
  color: #ED458B;
  font-weight: 700; 
}

button {
  background-color: #929497;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  border-bottom-left-radius: 40px 40px;
  border-bottom-right-radius:40px 40px;
  border: white;
  color: #FFFFFF;
}

.input-button:disabled {
  background-color: #D0D2D3;
  color: #FFFFFF;
}

button:hover {
  background-color: #EB008B;
  color: #FFFFFF;
}

input:placeholder {
  color: #E6E7E8;
}

.input-button { 
  font-size: 17px;
  font-weight: 300;
  height: 30px;
  margin: 8px;
  width: 14%;
}

#enter-guess {
  color: #E6E7E8;
  font-size: 120%;
  font-weight: 300;
  height: 15%;
  padding: .3%;
  width: 30%;
}

p {
  color: #404041;
  font-size: 120%;
}

#value-p {
  color: #EB008B;
  font-size: 800%;
  font-weight: lighter;
  margin: -2%;
}

.reset-button {
  font-size: 80%;
  font-weight: lighter;
  padding: .6%;
  width: 30%;
}

ul {
  margin: auto;
  width:97%;
}

.animal-button {
  font-size: 120%;
  font-weight: 300;
  height: 15%;
  margin-top: 5px;
  padding: .3%;
  width: 30%;
}

section {
  display: block;
  height: 70%;
  margin-top: -530px;
  margin-left: 10px;
  position: absolute;
  width: 30%;
  z-index: 100;
}

.animal-p {
  margin-left: 0%;
  margin-top: 0px;
}

.animals {
  height: 50px;
  width: auto;
}

#barnyard {
  border: 2px solid black;
  height: 100%;
  text-align: center;
  width: 100%;
}

.animal-form {
  display: block;
  text-align: center;
  }

#enter-animal-number{
  color: #E6E7E8;
  font-size: 120%;
  font-weight: 300;
  height: 25%;  
  padding: .3%;  
  width: 30%;

}